@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: spc;
    font-size: 30px;
}

img{
    width: 100%;
    margin-left: 5px;
    margin-top: 25px;
    display: flex;
    border:2px solid #232324 ;
    border-radius: 15px;
    transition: all 0.3s ease;
}
img:hover{
    border: 2px solid #fff ;
}
body{
    background-color: #232324;
}

.pricing {
    margin-top: 4rem;
 
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
  
   
}



.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    
}

.pricing .card:hover{
    background-color:#323232 ;
    border-color:#fff ;
   

}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
   
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
   
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    max-width: 400px;
    float: left;
    
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
    margin-top: 50px;
    font-size: 30px;
   
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right:0.4rem ;
   
}
@media (width <900px){
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
   
}

@media (width < 600px){
    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }

    
}