@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


*{
    padding: 0;
 
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-align: center;
}
.master{
    max-width: 1200px;
    margin: auto;
}
img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}
body{
    background-color: #18181B;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.nav-logo{
    max-width: 180px;
}

.nav-links{
    text-align: center;
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.link a{
  position: relative;  
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a:after{
    content:"" ;
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1dd865;
    transition: all .3s ease;
}

.link a:hover::after{
    width: 70%;

}


.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1dd865;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover{
    background-color:#12a048 ;
}

.container{
    max-width:1200px ;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1dd865;
    z-index: -100 ;
}

header{
    position: relative;
    padding-top: 2rem;
    display:grid ;

    align-items: center;
    gap: 2rem;
}


header .content h4{
    margin-top: -150px;
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight:600px ;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "0";
    position: absolute ;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1dd865;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    max-width: 1200px;
    width: 70%;
    margin: auto;
    display: grid;

    gap: 2rem;
}


.features .card{
    background-color: #27272a;
    padding: 1rem ;
    border: 2px solid transparent ;
    border-radius:15px ;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display:  inline-block;
    background-color: #1dd865;
    padding:2px 9px ;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom:0.5rem ;
    color:#fff ;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
color: #ccc;
margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #1dd865;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    max-width: 1200px;
    width: 250px;
    margin: auto;
    margin-top: 4rem;
    display:grid ;

}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color:#323232 ;
    border-color:#fff ;

}

.pricing .card .content{
    max-width: 200px;
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right:0.4rem ;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #1dd865;
    border-color: #1dd865;
}

footer{
    position: relative;
    display: grid;

}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}
footer .column p{
    color: #ccc;
    margin-bottom:2rem ;
}
footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1dd865;
    border-color: #1dd865;
}

footer.colmn h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color:#ccc ;
    margin-bottom:1rem ;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1dd865;

}



@media (width <900px){
    body {
        touch-action: pan-y;
        user-select: none;
    }
 
    nav.link{
        display: none;
    }
  
    header{
        grid-template-columns: repeat(1, 1fr);
    }
   
    header .image{
        grid-area: 1/1/2/2;
    }
  
    footer{
        grid-template-columns: 1fr ;
    }
}


@media (width < 600px){
    body {
        touch-action: pan-y;
        user-select: none;
    }
    nav{
       
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: auto;
    }
    header .image::beforeP{
        display: none;
    }
    *{
        
        text-align: center;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
    }
    .pricing{
        
        width: 250px;
    }
    .pricing .card .content{
        max-width: 290px;
    }
}

